<div class="hero">
  <br />

  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
  <br />
    <h1>Learn Magic from the Pros</h1>
    <br />
    <h2>Become a programming machine.</h2>
      <br />
        <%= link_to 'Learn More!', courses_path, class: 'btn btn-success' %>
        <br/><br/>
    <div class="col-xs-10 col-xs-offset-1 features text-center">
      <div class="index-page col-sm-4">
        <h3>Learn Simple Tasks For <strong>Free</strong></h3>
        <p>

        </p>
      </div>

      <div class="index-page col-sm-4">
        <h3>Learn Difficult Tasks With Premium</h3>
        <p>
          
        </p>
      </div>

      <div class="index-page col-sm-4">
        <h3>Teach A Course!</h3>
        <p>
          
        </p>
      </div>
    </div>
  </div>
</div>
<div class="index-page features text-center col-xs-12">
  <div class="booyah-box col-sm-3 col-xs-offset-1">
    <h1>
      Step-By-Step
    </h1>
    <%= image_tag "play.png", class: "index-img" %>
    <p>
      Detailed video instructions on how to learn, complete, build, or achieve a certain task, skill or project.
    </p>
  </div>
  <div class="booyah-box col-sm-3 col-xs-offset-1">
    <h1>
      Up-To-Date
    </h1>
    <%= image_tag "1.png", class: "index-img" %>
    <img src=""/>
    <p>
      Only learn the most relevant new ways to get things done, keeping you ahead of the curve.
    </p>
  </div>
  <div class="booyah-box col-sm-3 col-xs-offset-1">
    <h1>
      Resources
    </h1>
    <%= image_tag "2.png", class: "index-img" %>
    <img src=""/>
    <p>
    View and use a plethora of different resources like cheat sheets, code snippets, and live tutorials to further your education.
    </p>
  </div>
</div>